Repository HamoyeHQ/stage-f-07-heart-failure, pull requests merged in 2020-11, with the labels that each got.

#6 RandomForest model by chigozie
  model/selected_model.ipynb
Labels: good first issue, model

#19 This is the final model
  model/Heart_Main_model.ipynb
Labels: model

#18 Eda
  EDA/EDA_HeartFailure.ipynb
  EDA/heartfailure-data-analysis.ipynb
Labels: eda

#11 Visualization and EDA
  EDA/EDA_Blessing.ipynb
  model/Model_Blessing.ipynb
Labels: eda, model

#13 Modelling with PCA and SMOTE
  images/pairplots.pdf
  model/Model_Gaurav.ipynb
  model/heartfailure-model.ipynb
Labels: model

#12 Random Forest Classifier with engineered features
  model/Model_Charles.ipynb
Labels: model

#10 Visualizations
  EDA/EDA_Jessica.ipynb
Labels: eda

#5 commit^M
  EDA/EDA_Micky.ipynb
  model/Model_Micky.ipynb
Labels: eda, good first issue
